<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litt.nic.Dao.assignMapper" >
  <resultMap id="BaseResultMap" type="com.litt.nic.pojo.assign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="managerid" property="managerid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createtime, location, content, remark, managerid, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nic_assign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nic_assign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.litt.nic.pojo.assign" >
    insert into nic_assign (id, createtime, location, 
      content, remark, managerid, 
      status)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{location,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{managerid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.litt.nic.pojo.assign" >
    insert into nic_assign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="managerid != null" >
        managerid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.litt.nic.pojo.assign" >
    update nic_assign
    <set >
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="managerid != null" >
        managerid = #{managerid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.litt.nic.pojo.assign" >
    update nic_assign
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      location = #{location,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      managerid = #{managerid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getList" resultType="com.litt.nic.pojo.vo.AssignVO" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />, m.manager_name managername
    from nic_assign a
    left join nic_manager  m on  a.managerid=m.manager_id
    where 1=1
    <if test="location != null and location!=''" >
     and   location like CONCAT('%',#{location},'%')
      </if>
      <if test="content != null and content !=''" >
      and  content like CONCAT('%',#{content},'%')
      </if>
      <if test="remark != null and remark!=''" >
      and  remark like CONCAT('%',#{remark},'%')
      </if>
      <if test="managerid != null and managerid!=''" >
       and managerid = #{managerid,jdbcType=INTEGER}
      </if>
      <if test="status != null and status!=''" >
       and status = #{status,jdbcType=INTEGER}
      </if>
      order by createtime desc
  </select>
</mapper>